{{!< layout}}

{{#contentFor 'content'}}
<div class="flex-container">
  <div class="row">
    <div class="logo col-lg-4 col-sm-6 col-xs-12">
      <div class="text-center" ng-include="'/modules/core/client/views/owwwlyLogo.html'"></div>
    </div>
  </div>
</div>
<h1>Oops! This it's embarrasing</h1>
<h2>Page Not Found</h2>
<p>It seems that the page you were trying to reach doesn't exist or maybe has just moved. Try to start again from <a ui-sref="home" target="_self">home page<a>.</p>
<!-- <div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{url}} is not a valid path.
</div> -->
{{/contentFor}}
