<section>
  <div class="page-header">
    <h1 class="view">Your Event Boards</h1>
  </div>
  <div class="container-fluid">
    <div class="col-sm-6 col-lg-4" ng-repeat="board in vm.boards | orderBy: '-date'">
      <div class="event-card">
        <a ui-sref="boards.view({ boardId: board._id })">
          <h3 ng-bind="board.title"></h3>
          <img class="img-full img-responsive" ng-if="!board.eventImage" ng-src="modules/boards/client/img/board.jpg" alt="{{board.title}} event picture" />
        </a>
         <p class="capitalize"><strong>Type Event: </strong>{{board.category}}</p>
        <p ng-if="board.description"><strong>What? </strong>{{board.description}}</p>
        <p ng-if="board.date || board.time"><strong>When? </strong>{{board.date | date:'d MMM y'}} · {{board.time | date: 'HH:mm'}}</p>
        <p ng-if="board.city"><strong>Where? </strong>{{board.city}}</p>
        <a class="ext" ng-if="board.url" ng-href="{{ board.url }}" target="_blank">Link</a>
        <small>
          Created on <span data-ng-bind="board.created | date:'d MMM y'"></span> by 
          <span ng-if="board.user" data-ng-bind="vm.authentication.user.displayName"></span>
          <span ng-if="!board.user">Deleted User</span>
        </small>
      </div>
      <div class="alert alert-warning text-center" ng-if="vm.boards.$resolved && !vm.boards.length">
        No Boards yet, why don't you <a ui-sref="boards.create">create one</a>?
      </div>
    </div>
  </div>

</section>