<section>
  <div class="page-header">
    <h1>Board: {{vm.board.title}}</h1>
  </div>
  <div class="pull-right"
       ng-show="vm.board.isCurrentUserOwner">
    <a class="btn btn-success"
       ui-sref="boards.edit({ boardId: vm.board._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-success" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="event-card single">
    <img class="img-full img-responsive" ng-if="!board.eventImage" ng-src="modules/boards/client/img/board.jpg" alt="{{board.title}} event picture" />
    <p class="capitalize"><strong>Type Event: </strong>{{vm.board.category}}</p>
    <p ng-if="vm.board.description"><strong>What? </strong>{{vm.board.description}}</p>
    <p><strong>When? </strong><span ng-if="vm.board.date">{{vm.board.date | date:'d MMM y'}} · </span><span ng-if="vm.board.time">{{vm.board.time | date: 'HH:mm'}}</span></p>
    <p ng-if="vm.board.city"><strong>Where? </strong>{{vm.board.city}}</p>
    <a class="ext" ng-if="vm.board.url" ng-href="{{ vm.board.url }}" target="_blank">Link</a>
    <small>
      <em class="text-muted">
        Posted on
        <span data-ng-bind="vm.board.created | date:'d MMM y'"></span>
<!--          by 
        <span ng-if="vm.board.user"
              data-ng-bind="vm.board.user.displayName"></span>
        <span ng-if="!vm.board.user">Deleted User</span> -->
      </em>
    </small>
  </div>

</section>