<!-- <h1>Bad Request</h1>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  You made a bad request
</div>
 -->
<div class="jumbotron">
  <div class="flex-container">
    <div class="row">
      <div class="logo page404 col-lg-4 col-sm-6 col-xs-12">
        <div class="text-center" ng-include="'/modules/core/client/views/owwwlyLogo.html'"></div>
      </div>
    </div>
  </div>
  <h1>Oops! Bad Request</h1>
  <p>It seems that you made a Bad Request.<br /> 
  Try to start again from <a ui-sref="home" target="_self">home page<a>.</p>
</div>