<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="logo col-lg-4 col-sm-6 col-xs-12">
        <div class="text-center" ng-include="'/modules/core/client/views/owwwlyLogo.html'"></div>
      </div>
    </div>
    <br>
    <div class="row">
      <h1 class="lead">No more headaches planning events</h1>
    </div>
    <div class="row">
      <p class="lead"><strong>owwwly</strong> brings you the possibility to plan great meetings with your friends and colleagues. They can suggest and vote for dates, places and plans easily. </p>
      <p><a class="btn btn-lg btn-success" ui-sref="{{vm.authentication.user.username ? 'boards.list':'authentication.signup'}}" role="button">Try it out</a></p>
    </div>
  </div>
</section>
