@keyframes stars1 {
  0%        {opacity: 0}
  15%, 70%  {opacity: 1}
  85%, 100% {opacity: 0}
}

@keyframes stars2 {
  0%, 10%  {opacity: 0}
  25%, 85% {opacity: 1}
  100%     {opacity: 0}
}

.stars1 {
  animation: stars1 5s ease infinite;
}
.stars2 {
  animation: stars2 5s ease infinite;
}

@keyframes iris {
  0%   {transform: scale(1, 1)}
  50%  {transform: scale(1, 1.5)}
  100% {transform: scale(1, 1)}
}

@keyframes move{
    0%   {transform: translate(-5px,-6px)}
    50%   {transform: translate(3px,0)}
  100%  {transform: translate(-5px,-6px)}  
}

.iris {
  animation: iris 3s ease infinite;
  transform-origin: center top;
  animation:move 4s linear infinite;
}

.open_eyes{
  animation:move 4s linear infinite;
}
