.titleEventCards{
	text-align: center;
}

.event-card{
	margin: 20px 15px;
	padding: 5px 20px 20px;
	background:rgba(255,255,255,.3);
	border-radius: 15px;
	h3{
		color: #ffffff;
		text-shadow: tomato 1px 0 5px;
	}
	img{
		max-width: 97%;
		margin: 20px auto;
		background-color: white;
		padding: 8px;
		box-shadow: 2px 2px 10px gray;
	}
	p{
		color: tomato;
	}
	a{
		color: #93C54B;
		background: rgba(255,255,255,.4);
		padding: 3px;
		border-radius: 7px;
		margin-left: -3px;
		font-weight: 600
	}

}